.admin-container {
    display: grid;
    grid-template-columns: 200px 1fr; 
    grid-template-rows: 80px calc(100vh);
    grid-template-areas: "admin-header    admin-header"
                         "admin-sidebar   admin-container"
}

.admin-header {
       grid-area: admin-header;
       background-color: aliceblue;
}

.admin-sidebar {
    grid-area: admin-sidebar;
    background-color: antiquewhite;
}

.admin-main-container {
    grid-area: admin-container;
    padding: 24px;
}

.admin-sidebar ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.admin-sidebar ul li a {
    text-decoration: none;
    padding: 12px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.admin-sidebar ul li a:hover{
    background-color: burlywood;
    color: white;
}

.admin-sidebar ul li a.active {
    background-color: burlywood;
    color: white;
}
.admin-sidebar{
    padding: 12px;
    width: 100;
    border-style: none;
    background-color: burlywood;
    font-weight: 600;
    cursor:pointer;
}